<% provide(:title, t("static_pages.about")) %>
<h1>About</h1>
<p>
  The <a href=<%= t("static_pages.rails_link") %>><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href=<%= t("static_pages.rails_link") %>book">book</a> and
  <a href=<%= t("static_pages.rails_scr") %>>screencast series</a>
  to teach web development with
  <a href=<%= t("static_pages.rails_link") %>>Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
