<% provide(:title, t("static_pages.contact")) %>
<h1><%= t("static_pages.contact") %></h1>
<p>
  <%= t("static_pages.contact_the_ruby") %>
  <a href="<%= t("static_pages.rails_link") %>contact"><%= t("static_pages.contact_page") %></a>.
</p>
