<h1><%= t("static_pages.app_name") %></h1>
<p><%= t("mailers.greeting") @user.name %></p>
<p><%= t("mailers.welcome")%></p>
<%= link_to "Activate", edit_account_activation_u (@user.activation_token, email: @user.email) %>
