<% provide :title, t("users.index.all_usr") %>
<h1><%= t("users.index.all_usr") %></h1>
<%= paginate @users %>
<ul class="users">
  <% @users.each do |user| %>
    <%= render @user %>
  <% end %>
</ul>
<%= paginate @users %>
